[user]
name = Elon Gliksberg
email = elongliks@gmail.com

[init]
defaultBranch = main

[push]
autoSetupRemote = true

[pull]
rebase = true

[rebase]
autoStash = true
autoSquash = true

[core]
editor = vim
autocrlf = input
