/* Obsidian editor: padding below headers */
.cm-s-obsidian .HyperMD-header.HyperMD-header-1 { padding-bottom: 12px; }
.cm-s-obsidian .HyperMD-header.HyperMD-header-2 { padding-bottom: 10px; }
.cm-s-obsidian .HyperMD-header.HyperMD-header-3 { padding-bottom: 8px; }
.cm-s-obsidian .HyperMD-header.HyperMD-header-4 { padding-bottom: 6px; }
.cm-s-obsidian .HyperMD-header.HyperMD-header-5 { padding-bottom: 4px; }
.cm-s-obsidian .HyperMD-header.HyperMD-header-6 { padding-bottom: 2px; }

table {
    width: 100%;
    table-layout: fixed; /* evenly distribute columns */
}
